@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);/*IMPORTAMOS LA FUENTE JEJU GOTHIC*/
:root{
    /*Set de colores y fuentes almacenados en variables*/
    --white: #FFFFFF;
    --gold: #EFBB02;
    --heebo: 'Heebo', sans-serif;
    --black_header: #191919;
    --black_footer: #0D0D0D;
    --transparent: rgba(255, 255, 255, 0);
    --titles: 'Jeju Gothic', sans-serif;
}
/*Ponemos fondo al cuerpo y aplicamos por defecto el color y la letra, también eliminamos la scroll bar*/
body{
    background-color: #000000;
    color: var(--white);
    font-family: var(--heebo);
    font-style: normal;
    
}
body::-webkit-scrollbar {display: none;}
img{-webkit-user-drag: none;}

/*-------------------------------------------------------ANIMACIONES-------------------------------------------------------*/
@keyframes slideRight { /*Usada en el #titulo1*/
    0% {transform: translateX(-5%); opacity: 0;}
    45% {transform: translateX(-5%);opacity: 0%; }
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes slideUp { /*Usada en el #texto1*/
    0% {transform: translateY(7%);opacity: 0;}
    60% {transform: translateY(7%);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes slideDown { /*Usada en el #texto1*/
    0% {transform: translateY(-7%);opacity: 0;}
    40% {transform: translateY(-7%);opacity: 0;}
    100% {transform: translateY(0);opacity: 1;}
}
@keyframes fadeIN { /*Usada en el #bg1*/
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/*-------------------------------------------------------HEADER-------------------------------------------------------*/
#header{
    position: absolute;
    width: 100%;
    height: 8.6%;
    left: 0px;
    top: 0px;
    z-index: 15;
    background: var(--black_header);
    border-bottom: solid var(--gold) 0.15vw;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideDown;
    display: flex;
    align-items: center;
}
#logo_header{
    float:left;
    height: 60%;
    margin-left: 1.5vw;
}
.buttons_header{
    float: left;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    color: var(--white);
    margin-left: 2.2vw;
    border-top: 1px solid var(--transparent);
    transition: color 0.3s, border 0.3s;
    margin-top: 0.3vw;
}
.buttons_header:hover{
    color: var(--gold);
    border-top: 1px solid var(--gold);
}

.icono-user{
    text-align: center;
    margin-left: 68%;
    margin-top: 1.1%;
    color: #FFFFFF;
    font-size: 2.5vw;
}


/*-------------------------------------------------------CONTENT------------------------------------------------------*/
#bg1{
    position: absolute;
    width: 100%;
    height: 95%;
    left: 0px;
    top: 8.9%;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: fadeIN;
    background-image: url("../IMG/HOME/bg1.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#title1{
    position: absolute;
    left: 4%;
    top: 24%;
    font-weight: bolder;
    font-size: 3.3vw;
    font-family:var(--titles);
    color:var(--gold);
    animation-duration: 2.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideRight;
}
#text1{
    position: absolute;
    left: 4.2%;
    top: 33%;
    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 2.1vw;
    line-height: 2.2vw;
    color: var(--white);
    animation-duration: 3.2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-name: slideUp;
}
#gradient{/*El difuminado que separa por la mitad el contenido de la web*/
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 99%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 45%, #000000 55%, rgba(0, 0, 0, 0) 100%);
    filter: blur(4px);
    z-index: 10;
}
#bg2{
    position: absolute;
    width: 50%;
    height: 59.2%;
    left: 0px;
    top: 103.8%;
    transform: scale(105%) translateY(2%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.4s ease-in-out;
    background-image: url("../IMG/HOME/bg2.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#bg2.reveal{
    transform: scale(100%) translateX(0);
    filter: opacity(1);
}
#title2{
    position: absolute;
    left: 7vw;
    top: 3.9vw;
    font-family: var(--titles);
    font-weight: 350;
    font-size: 3vw;
    line-height: 3.2vw;
    text-align: center;
    color: var(--white);
    text-shadow: 3px 7px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(15%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.3s ease-in-out;
    transition-delay: 0.4s;
}
#title2.reveal{
    transform: translateY(0);
    filter: opacity(1);
}
#text2{
    position: absolute;
    left: 15.2vw;
    top: 10.5vw;
    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: var(--gold);
    text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.35);
    transform: translateY(25%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.3s ease-in-out;
    transition-delay: 0.9s;
}
#text2.reveal{
    transform: translateY(0);
    filter: opacity(1);
}
#logo_bg2{
    position: absolute;
    width: 12.3vw;
    height: 12.3vw;
    left: 13.2vw;
    top: 13.2vw;
    transform: scale(95%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.4s ease-in-out;
    transition-delay: 1.4s;
}
#logo_bg2.reveal{
    transform: scale(100%);
    filter: opacity(1) drop-shadow(4px 6px 3px rgba(0, 0, 0, 0.5));
}
#bg3{
    position: absolute;
    width: 50%;
    height: 59.2%;
    left: 50%;
    top: 103.8%;
    filter: opacity(0);
    transition: filter 0.4s ease-in-out;
    transition-delay: 1.8s;
    background-image: url("../IMG/HOME/bg3.png");
    background-repeat:no-repeat;
    background-size:cover;
}
#bg3.reveal{
    filter: opacity(1);
}
#title3{
    position: absolute;
    left: 17vw;
    top: 2.7vw;
    font-family: var(--titles);
    font-weight: bolder;
    font-size: 3.2vw;
    color:var(--gold);
    transform: translateY(10%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.4s ease-in-out;
    transition-delay: 2.4s;
}
#title3.reveal{
    transform: translateX(0);
    filter: opacity(1);
}
#text3{
    position: absolute;
    left: 22vw;
    top: 6.4vw;
    font-family: var(--titles);
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    color: var(--white);
    transform: translateY(20%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.4s ease-in-out;
    transition-delay: 2.7s;
}
#text3.reveal{
    transform: translateX(0);
    filter: opacity(1);
}
#stars{
    position: absolute;
    width: 10vw;
    left: 28vw;
    top: 7.8vw;
    transform: translateY(20%);
    filter: opacity(0);
    transition: transform 0.8s ease-in-out , filter 0.4s ease-in-out;
    transition-delay: 2.9s;
}
#stars.reveal{
    transform: translateX(0);
    filter: opacity(1);
}


/*-------------------------------------------------------FOOTER-------------------------------------------------------*/
#footer{
    position: absolute;
    width: 100%;
    height: 11vw;
    left: 0px;
    top: 161.5%;
    background-color: var(--black_footer);
    border-top: solid var(--gold) 0.2vw;
}
#logo_footer{
    position: absolute;
    width: 12vw;
    height: 3.5vw;
    left: 20vw;
    top: 3.6vw;
}
#footer_text1{
    position: absolute;
    left: 45.9vw;
    top: 3.8vw;
    font-weight: 400;
    font-size: 0.85vw;
    text-align: center;
}
#footer_text2{
    position: absolute;
    left: 44.5vw;
    top: 5.1vw;
    font-weight: 600;
    font-size: 1.85vw;
    text-align: center;
    color: var(--gold);
}
#follow{
    font-family: 'Vollkorn', serif;
    position: absolute;
    left: 63vw;
    top: 4.8vw;
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    text-align: center;
}
#social{
    position: absolute;
    left: 70.5vw;
    top: 4.4vw;
}
.logo_social{
    height: 2.3vw;
    width: 2.3vw;
    margin-right: 0.8vw;
    float:left;
    transition: filter 0.15s;
}
.logo_social:hover{
    filter: brightness(2) saturate(0);
    
}
